.header {
    background-color: #E03C31;
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.header img {
    max-height: 80px;
    width: auto;
}

body {
    background-color: #000;
    font-family: Arial, sans-serif;
}

nav ul {
    background-color: #E03C31;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul a:hover {
    color: white;
    background-color: #0056b3;
}
  
section {
    background: #E03C31;
    border-radius: 10px;
    margin: 100px auto;
    max-width: 500px;
    padding: 30px;
}


.button-login {
  background-color: #E03C31;
  margin-top: 20px;
  height: 40px;
  width: 500px;
  border: 2px solid #616161;
  display: center;
  border-radius: 30px;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 15px;
  padding: 1px;
  text-align: center;
  
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;      
}
  
h1 {
    font-size: 1.7em;
    margin-top: -0.9em;
    color: #fff;
    float:left;
    position:relative;
    overflow:auto;
  }
  
form {
    display: inline-block;
    text-align: left;
    width: 100%;
  }
  
label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
  }


p{
color:#fff;

}

footer img{
    height: 35px;
    width: 35px;
}
  
footer{ 
    position:fixed;
    left:0px;
    bottom:0px;
    height:150px;
    width:100%;
    background: #333;
    color: white;
}



footer address, p, img{
 display: inline-flex;
 margin: 30px 0 0 0;
}

footer address, p{
    margin: 0 300px 0 300px;
}
  